@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:wght@400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
:root{
    --white-color:#fff;
    --dark-color:#252525;
    --primary-color:#3b141c;
    --secondary-color:#faab00;
    --medium-gray-color:#ccc;
    --site-max-width:1300px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    background: none;
}
img{
    width: 100%;
}
.section-content{
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 20px;
}

/* navbar style  */
.header{
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    z-index:5;
}
.header .navbar{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.navbar .nav-logo .logo-text{
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 600;
}
.navbar .nav-menu{
    display: flex;
    gap: 10px;
}
.navbar .nav-menu .nav-link{
    color: var(--white-color);
    padding: 10px 18px;
    border-radius: 30px;
    font-size: 1.12rem;
    transition: 0.3s ease;
}
.navbar .nav-menu .nav-link:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
}

/* main section style  */
.hero-section{
    background: var(--primary-color);
    min-height: 100vh;
}
.hero-section .section-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
}
.hero-section .hero-details{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.hero-section .hero-details .title{
    font-size: 2.2rem;
    color: var(--secondary-color);
    font-family: "Miniver";
}
.hero-section .hero-details .subtitle{
    font-size: 2rem;
    margin-top: 8px;
    max-width: 70%;
    font-weight: 600;
}
.hero-details .description{
    max-width: 70%;
    font-size: 1.12rem;
    margin: 0 40px;
}
.hero-section .hero-details .buttons{
    display: flex;
    gap: 23px;
}
.hero-section .hero-details .button{
    padding: 10px 26px;
    border: 2px solid transparent;
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 30px;
    font-weight: 500;
    transition: 0.3s ease;
}
.hero-section .hero-details .button:hover,
.hero-section .hero-details .contact-us{
    color: var(--white-color);
    border-color: var(--white-color);
    background: transparent;
}
.hero-section .hero-details .contact-us:hover{
    color: var(--primary-color);
    border-color: var(--secondary-color);
    background: var(--secondary-color);
}
.hero-section .hero-image-wrapper{
    max-width: 500px;
    margin-right:30px;
}
